
body {
  min-width: 768px;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_24 {
	margin-left: auto;
	margin-right: auto;
	width: 768px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20,
.grid_21,
.grid_22,
.grid_23,
.grid_24 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 16px;
	margin-right: 16px;
}



.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15,
.push_16, .pull_16,
.push_17, .pull_17,
.push_18, .pull_18,
.push_19, .pull_19,
.push_20, .pull_20,
.push_21, .pull_21,
.push_22, .pull_22,
.push_23, .pull_23,
.push_24, .pull_24 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 24 Columns
----------------------------------------------------------------------------------------------------*/


.container_24 .grid_1 {
	width:0px;
}

.container_24 .grid_2 {
	width:32px;
}

.container_24 .grid_3 {
	width:64px;
}

.container_24 .grid_4 {
	width:96px;
}

.container_24 .grid_5 {
	width:128px;
}

.container_24 .grid_6 {
	width:160px;
}

.container_24 .grid_7 {
	width:192px;
}

.container_24 .grid_8 {
	width:224px;
}

.container_24 .grid_9 {
	width:256px;
}

.container_24 .grid_10 {
	width:288px;
}

.container_24 .grid_11 {
	width:320px;
}

.container_24 .grid_12 {
	width:352px;
}

.container_24 .grid_13 {
	width:384px;
}

.container_24 .grid_14 {
	width:416px;
}

.container_24 .grid_15 {
	width:448px;
}

.container_24 .grid_16 {
	width:480px;
}

.container_24 .grid_17 {
	width:512px;
}

.container_24 .grid_18 {
	width:544px;
}

.container_24 .grid_19 {
	width:576px;
}

.container_24 .grid_20 {
	width:608px;
}

.container_24 .grid_21 {
	width:640px;
}

.container_24 .grid_22 {
	width:672px;
}

.container_24 .grid_23 {
	width:704px;
}

.container_24 .grid_24 {
	width:736px;
}




/* Prefix Extra Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/


.container_24 .prefix_1 {
	padding-left:32px;
}

.container_24 .prefix_2 {
	padding-left:64px;
}

.container_24 .prefix_3 {
	padding-left:96px;
}

.container_24 .prefix_4 {
	padding-left:128px;
}

.container_24 .prefix_5 {
	padding-left:160px;
}

.container_24 .prefix_6 {
	padding-left:192px;
}

.container_24 .prefix_7 {
	padding-left:224px;
}

.container_24 .prefix_8 {
	padding-left:256px;
}

.container_24 .prefix_9 {
	padding-left:288px;
}

.container_24 .prefix_10 {
	padding-left:320px;
}

.container_24 .prefix_11 {
	padding-left:352px;
}

.container_24 .prefix_12 {
	padding-left:384px;
}

.container_24 .prefix_13 {
	padding-left:416px;
}

.container_24 .prefix_14 {
	padding-left:448px;
}

.container_24 .prefix_15 {
	padding-left:480px;
}

.container_24 .prefix_16 {
	padding-left:512px;
}

.container_24 .prefix_17 {
	padding-left:544px;
}

.container_24 .prefix_18 {
	padding-left:576px;
}

.container_24 .prefix_19 {
	padding-left:608px;
}

.container_24 .prefix_20 {
	padding-left:640px;
}

.container_24 .prefix_21 {
	padding-left:672px;
}

.container_24 .prefix_22 {
	padding-left:704px;
}

.container_24 .prefix_23 {
	padding-left:736px;
}



/* Suffix Extra Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/


.container_24 .suffix_1 {
	padding-right:32px;
}

.container_24 .suffix_2 {
	padding-right:64px;
}

.container_24 .suffix_3 {
	padding-right:96px;
}

.container_24 .suffix_4 {
	padding-right:128px;
}

.container_24 .suffix_5 {
	padding-right:160px;
}

.container_24 .suffix_6 {
	padding-right:192px;
}

.container_24 .suffix_7 {
	padding-right:224px;
}

.container_24 .suffix_8 {
	padding-right:256px;
}

.container_24 .suffix_9 {
	padding-right:288px;
}

.container_24 .suffix_10 {
	padding-right:320px;
}

.container_24 .suffix_11 {
	padding-right:352px;
}

.container_24 .suffix_12 {
	padding-right:384px;
}

.container_24 .suffix_13 {
	padding-right:416px;
}

.container_24 .suffix_14 {
	padding-right:448px;
}

.container_24 .suffix_15 {
	padding-right:480px;
}

.container_24 .suffix_16 {
	padding-right:512px;
}

.container_24 .suffix_17 {
	padding-right:544px;
}

.container_24 .suffix_18 {
	padding-right:576px;
}

.container_24 .suffix_19 {
	padding-right:608px;
}

.container_24 .suffix_20 {
	padding-right:640px;
}

.container_24 .suffix_21 {
	padding-right:672px;
}

.container_24 .suffix_22 {
	padding-right:704px;
}

.container_24 .suffix_23 {
	padding-right:736px;
}



/* Push Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/


.container_24 .push_1 {
	left:32px;
}

.container_24 .push_2 {
	left:64px;
}

.container_24 .push_3 {
	left:96px;
}

.container_24 .push_4 {
	left:128px;
}

.container_24 .push_5 {
	left:160px;
}

.container_24 .push_6 {
	left:192px;
}

.container_24 .push_7 {
	left:224px;
}

.container_24 .push_8 {
	left:256px;
}

.container_24 .push_9 {
	left:288px;
}

.container_24 .push_10 {
	left:320px;
}

.container_24 .push_11 {
	left:352px;
}

.container_24 .push_12 {
	left:384px;
}

.container_24 .push_13 {
	left:416px;
}

.container_24 .push_14 {
	left:448px;
}

.container_24 .push_15 {
	left:480px;
}

.container_24 .push_16 {
	left:512px;
}

.container_24 .push_17 {
	left:544px;
}

.container_24 .push_18 {
	left:576px;
}

.container_24 .push_19 {
	left:608px;
}

.container_24 .push_20 {
	left:640px;
}

.container_24 .push_21 {
	left:672px;
}

.container_24 .push_22 {
	left:704px;
}

.container_24 .push_23 {
	left:736px;
}



/* Pull Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/


.container_24 .pull_1 {
	left:-32px;
}

.container_24 .pull_2 {
	left:-64px;
}

.container_24 .pull_3 {
	left:-96px;
}

.container_24 .pull_4 {
	left:-128px;
}

.container_24 .pull_5 {
	left:-160px;
}

.container_24 .pull_6 {
	left:-192px;
}

.container_24 .pull_7 {
	left:-224px;
}

.container_24 .pull_8 {
	left:-256px;
}

.container_24 .pull_9 {
	left:-288px;
}

.container_24 .pull_10 {
	left:-320px;
}

.container_24 .pull_11 {
	left:-352px;
}

.container_24 .pull_12 {
	left:-384px;
}

.container_24 .pull_13 {
	left:-416px;
}

.container_24 .pull_14 {
	left:-448px;
}

.container_24 .pull_15 {
	left:-480px;
}

.container_24 .pull_16 {
	left:-512px;
}

.container_24 .pull_17 {
	left:-544px;
}

.container_24 .pull_18 {
	left:-576px;
}

.container_24 .pull_19 {
	left:-608px;
}

.container_24 .pull_20 {
	left:-640px;
}

.container_24 .pull_21 {
	left:-672px;
}

.container_24 .pull_22 {
	left:-704px;
}

.container_24 .pull_23 {
	left:-736px;
}




/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}