@charset "utf-8";
/* CSS Document */




		div#mocktail_slider_settings_container {
			min-height:100px;
			border:1px #ccc solid;
		}
		ul#mocktail_slides > li > div {
			border:1px #ccc solid;
			border-radius:6px;
			margin:6px;
			padding:6px;
			background-color:#F8F8F8;
			-webkit-box-shadow: 3px 3px 2px rgba(50, 50, 50, 0.30);
			-moz-box-shadow:    3px 3px 2px rgba(50, 50, 50, 0.30);
			box-shadow:         3px 3px 2px rgba(50, 50, 50, 0.30);		
			position:relative;
		}
		div.remove_mocktail_slide {
			position:absolute;
			right:10px;
			top:10px;
			background:url(../images/remove.png) no-repeat;
			cursor:pointer;
			width:32px;
			height:32px;
		
