@charset "utf-8";
/* CSS Document */

div.params_title{
    color: #000;
    display: block;
    font-size: 16px;
	font-weight:bold;
	line-height:1;
    height: 25px;
margin:0;
    padding: 10px 20px 5px 20px;
    text-align: left;
}

div.params_div {
 margin-right:2%; 
 float:left; 
 background-color:#EAEAEA;	
 padding: 10px;
 margin-bottom:10px;

}

div.params_div1, tr.params_div1{
	background: none repeat scroll 0 0 #EAEAEA;
    margin: 0;
    padding: 10px;
	color: #000000;
	
}

tr.params_div1 td {border:none;}

div.params_div2, tr.params_div2{
	background: none repeat scroll 0 0 #F8F8F8;
    margin: 0;
    padding: 10px;
	color: #000000;
	
}
div.params_label{    display: block;
    float: left;
    height: 30px;
    line-height: 20px;
    width: 200px;
	padding-left:10px;
	}
div.params_value{
	width:auto;
	
}

span.legend {font-size:0.9em;}


div.Current_color_box {

    height: 36px;
    position: relative;
    width: 36px;

    border: 1px solid #000000;
    float: left;
    margin-right: 10px;
}