@charset "utf-8";
/* CSS Document */

img {
	max-width:100%;

}
div.custombuttonwrap awrap {
	display: inline-block;
	height: auto;
	vertical-align: middle;
}
.custombuttonwrap a,
.custombuttonwrap a span,
.custombuttonwrap a:visited,
.custombuttonwrap a span:visited {
	display: inline-block;
}
.custombuttonwrap a,
.custombuttonwrap a span,
.custombuttonwrap a:visited,
.custombuttonwrap a span:visited {
	background: url("../images/overlay.png") repeat-x scroll 0 0 #222222;
}
.custombuttonwrap a.round,
.custombuttonwrap a.round span,
.custombuttonwrap a.round:visited,
.custombuttonwrap a.round span:visited {
	border-radius: 6px;
	moz-border-radius: 6px;
	webkit-border-radius: 6px;
}
.custombuttonwrap a,
.custombuttonwrap a:visited {
	
	cursor: pointer;
	display: inline-block;

	position: relative;
	text-decoration: none;
/*	
	box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
	moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	*/
}
.custombuttonwrap a{
	outline: 0 none;
}

.custombuttonwrap.btnleft a{
	margin-right: 6px;	
}
.custombuttonwrap.btnright a{
	margin-left: 6px;	
}
.custombuttonwrap a:active {
	/*moz-box-shadow: 0 -3px 1px #FFFFFF inset, 0 0 3px rgba(0, 0, 0, 0.9) inset;*/
	top: 1px;
}
.custombuttonwrap a span {
	color: #FFF;
    font-family: 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;
	line-height: 1;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	white-space: nowrap;
}
.s.custombuttonwrap a span,
.s.custombuttonwrap a span:visited {
	font-size: 11px;
	padding: 5px 13px 6px;
}
.custombuttonwrap a span,
.custombuttonwrap a span:visited,
.m.custombuttonwrap a span,
.m.custombuttonwrap a span:visited {
	font-size: 12px;
	padding: 7px 15px;
}
.l.custombuttonwrap a span,
.l.custombuttonwrap a span:visited {
	font-size: 16px;
	padding: 9px 14px 9px;
}
.xl.custombuttonwrap a span,
.xl.custombuttonwrap a span:visited {
	font-size: 30px;
	padding: 9px 14px 9px;
}
.custombuttonwrap a:hover span {
	background-color: #333;
	color: #fff;
	/*filter: alpha(opacity=80);
	ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 0.8;
	*/
}
.custombuttonwrap a.round:hover {
	border-radius: 6px;
	moz-border-radius: 6px;
	webkit-border-radius: 6px;
}
ul.ui-tabs-nav > li > a > h4 {
	margin: 0 !important;
}/* = Message Boxes
-------------------------------------------------------------- */

.info,
.success,
.warning,
.error,
.validation {
	background-position: 15px 50%;
	background-repeat: no-repeat;
	display: table;
	width: auto;
}
.info .msgbox-icon,
.success .msgbox-icon,
.warning .msgbox-icon,
.error .msgbox-icon {
	display: block;
	margin-left: 15px;
	padding-left: 50px;
	padding-right: 20px;
}
.custom .msgboxpadding {
	padding-left: 20px;
	padding-right: 20px;
}
.info .msgbox-icon {
	background: transparent url('../images/info.png') no-repeat scroll 4px 50%;
}
.success .msgbox-icon {
	background: transparent url('../images/success.png') no-repeat scroll 4px 50%;
}
.warning .msgbox-icon {
	background: transparent url('../images/warning.png') no-repeat scroll 4px 50%;
}
.error .msgbox-icon {
	background: transparent url('../images/error.png') no-repeat scroll 4px 50%;
}
.info {
	background: linear-gradient(top, #FFFFFF 0%,#bdcef8 100%);
	background: -moz-linear-gradient(top, #FFFFFF 0%, #bdcef8 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%,#bdcef8 100%);
	background: -o-linear-gradient(top, #FFFFFF 0%,#bdcef8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#bdcef8));
	background: -webkit-linear-gradient(top, #FFFFFF 0%,#bdcef8 100%);
	background-color: #bdcef8;
	border: 1px solid #38AEE5;
	color: #00529B;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#bdcef8',GradientType=0 );
}
.success {
	background: linear-gradient(top, #FFFFFF 0%,#d9efaa 100%);
	background: -moz-linear-gradient(center top , #FFFFFF, #d9efaa);
	background: -moz-linear-gradient(top, #FFFFFF 0%, #d9efaa 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%,#d9efaa 100%);
	background: -o-linear-gradient(top, #FFFFFF 0%,#d9efaa 100%);
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#d9efaa));
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#d9efaa));
	background: -webkit-linear-gradient(top, #FFFFFF 0%,#d9efaa 100%);
	background-color: #d9efaa;
	border: 1px solid #A0CF4C;
	color: #4F8A10;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#d9efaa',GradientType=0 );
}
.warning {
	background: linear-gradient(top, #FFFFFF 0%,#fedcb3 100%);
	background: -moz-linear-gradient(center top , #FFFFFF, #fedcb3);
	background: -moz-linear-gradient(top, #FFFFFF 0%, #fedcb3 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%,#fedcb3 100%);
	background: -o-linear-gradient(top, #FFFFFF 0%,#fedcb3 100%);
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#fedcb3));
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#fedcb3));
	background: -webkit-linear-gradient(top, #FFFFFF 0%,#fedcb3 100%);
	background-color: #fedcb3;
	border: 1px solid #E5BC3B;
	color: #9F6000;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#fedcb3',GradientType=0 );
}
.error {
	background: linear-gradient(top, #FFFFFF 0%,#ffb4a3 100%);
	background: -moz-linear-gradient(center top , #FFFFFF, #ffb4a3);
	background: -moz-linear-gradient(top, #FFFFFF 0%, #ffb4a3 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%,#ffb4a3 100%);
	background: -o-linear-gradient(top, #FFFFFF 0%,#ffb4a3 100%);
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#ffb4a3));
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#ffb4a3));
	background: -webkit-linear-gradient(top, #FFFFFF 0%,#ffb4a3 100%);
	background-color: #ffb4a3;
	border: 1px solid #FF7878;
	color: #D8000C;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#ffb4a3',GradientType=0 );
}
.custom {
	background: linear-gradient(top, #FFFFFF 0%,#EFEFEF 100%);
	background: -moz-linear-gradient(top, #FFFFFF 0%, #EFEFEF 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%,#EFEFEF 100%);
	background: -o-linear-gradient(top, #FFFFFF 0%,#EFEFEF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#EFEFEF));
	background: -webkit-linear-gradient(top, #FFFFFF 0%,#EFEFEF 100%);
	background-color: #fedcb3;
	border: 1px solid #BBB;
	display: table;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#EFEFEF',GradientType=0 );
	width: 100%;
}
.custom,
.info,
.success,
.warning,
.error {
	margin: -1px 0;
	width:100%;
}
.simple {
	background-color: #F5F5F5;
	color: #333333;
	display: block;
	margin: 10px 0 !important;
}
.simple .msgboxpadding {
	padding: 10px !important;
}
pre {
	background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF);
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#EFEFEF));
	border: 1px solid #999;
	color: #555;
	overflow: auto;
	padding: 10px;
}
div.divider_generic {
    clear: both;
    width: auto;
}
div.totop {
    background-position: center bottom;
}
div.totop {
    font-size: 10px;
    line-height: 10px;
    position: relative;
    text-align: right;
}
div.totop a {
    border: 0 none;
    cursor: pointer;
    height: auto;
    outline: medium none;
    padding-bottom: 3px;
    position: absolute;
    right: 0;
}
div.plugin_latestposts_container > div.contents > div.plugin_latestposts_sort,
div.plugin_latestposts_container > div.contents > div.navigation {
	display:none;
}
div.plugin_latestposts_container {
	overflow:hidden;
	margin-left:-1px;
	margin-right:-1px;
	position:relative;

}
div.plugin_latestposts_container div.contents {
	position:relative;
}

div.plugin_latestposts_container div.bottomnavcontainer div.plugin_latestposts_sort_all,
div.plugin_latestposts_container div.bottomnavcontainer div.navigation_all {
    margin-bottom:0 !important;
}

.one_fourth, .one_third, .one_half, .two_third, .three_fourth {
    float: left;
    margin-right: 4%;
    position: relative;
}
.one_fourth {
    width: 22%;
}
.one_third {
    width: 30%;
}
.one_half {
    width: 47.9%;
}
.two_third {
    width: 66%;
}
.three_fourth {
    width: 74%;
}
.last_column {
    margin-right: 0 !important;
}blockquote.left {
    margin-right: 4%;
    width: 47%;
}
blockquote.right {
}
blockquote {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 1.33em;
    font-style: italic;
    padding-left: 35px;
}

blockquote {
    quotes: none;
}
.dropcap {
    display: block;
    float: left;
    font-size: 40px;
    line-height: 34px;
    margin: 5px 8px 0 0;
}ul.list_style1, ul.list_style2, ul.list_style3, ul.list_style4, ul.list_style5, ul.list_style6, ul.list_style7, ul.list_style8, ul.list_style9, ul.list_style10, ul.list_style11 {
    margin: 0;
    overflow: hidden;
    position: relative;
}

ul.list_style1 li, ul.list_style2 li, ul.list_style3 li, ul.list_style4 li, ul.list_style5 li, ul.list_style6 li, ul.list_style7 li, ul.list_style8 li, ul.list_style9 li, ul.list_style10 li, ul.list_style11 li {
    list-style: none outside none;
    margin-left: 0;
    padding-left: 25px !important;
}
ul.list_style1 li {
    background: url("../images/genericbullet.png") no-repeat scroll 5px 2px transparent;
}

ul.list_style2 li {
    background: url("../images/icon_hand.png") no-repeat scroll 0 2px transparent;
}
ul.list_style3 li {
    background: url("../images/icon_tick2.png") no-repeat scroll 0 1px transparent;
}
ul.list_style4 li {
    background: url("../images/icon_tick1.png") no-repeat scroll 0 1px transparent;
}
ul.list_style5 li {
    background: url("../images/icon_star.png") no-repeat scroll 0 1px transparent;
}

ul.list_style6 li {
    background: url("../images/dbl_arrow.png") no-repeat scroll 0 1px transparent;
}

ul.list_style7 li {
    background: url("../images/plus_icon.png") no-repeat scroll 0 2px transparent;
}

ul.list_style8 li {
    background: url("../images/clock_icon.png") no-repeat scroll 0 1px transparent;
}

ul.list_style9 li {
    background: url("../images/pin_icon.png") no-repeat scroll 0 1px transparent;
}

ul.list_style10 li {
    background: url("../images/warning.png") no-repeat scroll 0 1px transparent;
}

ul.list_style11 li {
    background: url("../images/icon_arrow.png") no-repeat scroll 0 0 transparent;
}div#simple_logo_abs > div#simple_logo h1 a,
div#simple_logo_abs > div#simple_logo div.site-name a {
	display:block;	
    outline: 0 none;
    overflow: hidden;
    text-indent: -5000px;	
}
div#simple_logo_abs > div#simple_logo_slogan {
	white-space:nowrap;
}
div#simple_logo_abs,
div#simple_logo,
div#simple_logo > h1 {
	margin-top:0 !important;
	margin-bottom:0 !important;	
}