html, body { height:100% !important; width:100%; !important}
body {margin:0 !important; padding:0 !important;}

div.thumbwallcontainer {
	float:left;
	overflow:hidden;
	position:relative;
}
div.wallpostcontent {
	display:none;	
}
div.thumbwallcontainer >  a {
	width:100% !important;
	height:100% !important;
	display:block !important;
	
}
div.thumbwallcontainer >  a > img {
	width:100%;
	height:100%;
	max-width:none !important;
	position:absolute !important;
	border:none !important;
}

div#wallcontainer {
	position:fixed;
}

div.thumbwallcontainer >  a {
	cursor:auto;	
}
div#wallscreen {
	background-color:#fcc;
	display:none;
	position:absolute;
}
div.thumbwallcontainer > div#wallscreen {
	height:100%;
	width:100%;
	display:block;
}
div#wallscreen > img {
	position:relative;
}
.horizwallscreen > img {
	width:100% !important;
	height:auto !important;
}
.vertwallscreen > img {
	height:100% !important;
	width:auto !important;
	max-width:none !important;
}
div#wallloading{ position:relative; left:50%; margin-left:-50%;}

div#wallblock {
	width:100%;
	height:100%;
	position:fixed;
	z-index:99;
}

div#wallpuller {
	position:relative;
	z-index:101;
}

div#wallpage {
	display:none;
}