
body {
  min-width: 312px;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_24 {
	margin-left: auto;
	margin-right: auto;
	width: 312px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20,
.grid_21,
.grid_22,
.grid_23,
.grid_24 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 7px;
	margin-right: 6px;
}

.container_24 div .grid_1,
.container_24 div .grid_2,
.container_24 div .grid_3,
.container_24 div .grid_4,
.container_24 div .grid_5,
.container_24 div .grid_6,
.container_24 div .grid_7,
.container_24 div .grid_8,
.container_24 div .grid_9,
.container_24 div .grid_10,
.container_24 div .grid_11,
.container_24 div .grid_12,
.container_24 div .grid_13,
.container_24 div .grid_14,
.container_24 div .grid_15,
.container_24 div .grid_16,
.container_24 div .grid_17,
.container_24 div .grid_18,
.container_24 div .grid_19,
.container_24 div .grid_20,
.container_24 div .grid_21,
.container_24 div .grid_22,
.container_24 div .grid_23,
.container_24 div .grid_24 {
	margin-left: 0;
	margin-right: 0;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15,
.push_16, .pull_16,
.push_17, .pull_17,
.push_18, .pull_18,
.push_19, .pull_19,
.push_20, .pull_20,
.push_21, .pull_21,
.push_22, .pull_22,
.push_23, .pull_23,
.push_24, .pull_24 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 24 Columns
----------------------------------------------------------------------------------------------------*/


.container_24 .grid_1,
.container_24 .grid_2,
.container_24 .grid_3,
.container_24 .grid_4,
.container_24 .grid_5,
.container_24 .grid_6,
.container_24 .grid_7,
.container_24 .grid_8,
.container_24 .grid_9,
.container_24 .grid_10,
.container_24 .grid_11,
.container_24 .grid_12,
.container_24 .grid_13,
.container_24 .grid_14,
.container_24 .grid_15,
.container_24 .grid_16,
.container_24 .grid_17,
.container_24 .grid_18,
.container_24 .grid_19,
.container_24 .grid_20,
.container_24 .grid_21,
.container_24 .grid_22,
.container_24 .grid_23,
.container_24 .grid_24 {
	width:299px;
}





/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}
