body {
	background-color:#fff;
	color:#333;
}


div.page_section {

	margin:auto;
}

a {
	text-decoration:none;
}


div#left_sidebar li, div#right_sidebar li {
		padding-left:26px;
		 background: url("../images/icon_arrow.png") no-repeat scroll 5px 2px transparent;
	}

div#wallpuller {height:36px; width:100%; margin:auto; position:fixed !important; top:0; z-index:99999;}

div#wallblock {opacity:0.65 !important; 

}



@media only screen and (max-width: 767px) {
	
	.one_fourth, .one_third, .one_half, .two_third, .three_fourth {
		width:100% !important;
		float:none !important;
		margin-right:0 !important;
	}

}


/* page content shadow */
@media only screen and (min-width: 960px) {
	div#mocktail_slider {
		margin-left:0;
		margin-right:0;
		width:960px;
	}
	div.page_section {
		padding:0 30px;
		width:960px;
		background:url(../images/content_area_shadow_960.png) repeat-y center;
	}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	div#mocktail_slider {
		margin-left:0;
		margin-right:0;
		width:768px;
	}
	div.page_section {
		padding:0 20px;
		width:768px;
		background:url(../images/content_area_shadow_768.png) repeat-y center;		
	}	
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	div#mocktail_slider {
		margin-left:0;
		margin-right:0;
		width:480px;
	}
	div.page_section {
		padding:0 15px;
		width:480px;
		background:url(../images/content_area_shadow_480.png) repeat-y center;		
	}	
}

@media only screen and (max-width: 479px) {
	div#mocktail_slider {
		margin-left:0;
		margin-right:0;
		width:312px;
	}
	div.page_section {
		padding:0 10px;
		width:312px;
		background:url(../images/content_area_shadow_320.png) repeat-y center;		
	}	
}


/* menu */

@media only screen and (min-width: 768px) {
	/*** DEMO SKIN ***/
	ul.sf-menu {
		position:relative;
		z-index:9999;
		left: 50%;
	}
	
	ul.sf-menu > li {
		left:-50%;
	}
	
/*** DEMO SKIN ***/
.sf-menu {
	float:			left;
	margin-bottom:	1em;
}
.sf-menu a {
	padding: 		.75em 1em;
	text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#13a;
}
.sf-menu li li a,
.sf-menu li li li a {
	
	background-image:url(../images/wire_pattern_dark.png);	
	margin:0 1px 1px ;
}

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	outline:		0;
	background-image:none;
}	
	
	
	select.select-menu {
		display:none;
	}
}

@media only screen and (max-width: 767px) {
	select.select-menu {
		display:block;
		width:100%;

		
	-webkit-appearance: none;

	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;

	font-size: 12px;
	line-height: 1.5;
	padding: 5px 10px;
	border-radius: 0;		
	}
	select.select-menu option {
		text-transform:capitalize;
	}
	ul.sf-menu {
		display:none;
	}
}

/* = Plugin Latest Posts
-------------------------------------------------------------- */

div.plugin_latestposts_container > div.widget_title > h3 {
	margin-top:0 !important;
}
div.plugin_latestposts_container div.plugin_latestposts_sort_all div.custombuttonwrap.s,
div.plugin_latestposts_container div.navigation_all div.custombuttonwrap.s {
	padding-top:0;
	margin-top:2px;
}
div.plugin_latestposts_container div.plugin_latestposts_sort_all .s.custombuttonwrap a span,
div.plugin_latestposts_container div.navigation_all div.custombuttonwrap.s a span
{
	font-size: 11px;
	padding: 3px 13px 4px;
}

div.plugin_latestposts_container div.contents a.thumblink {
	margin-top:0 !important;
}

/* = Alignments
-------------------------------------------------------------- */

	.left, .alignleft {
		float: left;
	}
	.right, .alignright {
		float: right;
	}
	.btnleft {
		display: inline-block;
		float: left;
	}
	.btnright {
		display: inline-block;
		float: right;
	}
	

/* side menu */
	div#left_sidebar ul, ul.menu, 
	div#right_sidebar ul {
		list-style-type: none;
		margin: 0;
	}
	div#left_sidebar ul ul li, ul.menu ul li,
	div#right_sidebar ul ul li {
		padding-left: 22px !important;
	}
	div#left_sidebar ul ul ul li, ul.menu ul ul li,
	div#right_sidebar ul ul ul li {
		padding-left: 37px !important;
	}
	div#left_sidebar ul ul ul ul li, ul.menu ul ul ul li,
	div#right_sidebar ul ul ul ul li {
		padding-left: 52px !important;
	}
	div#left_sidebar ul ul ul ul ul li, ul.menu ul ul ul ul li, 
	div#right_sidebar ul ul ul ul ul li {
		padding-left: 67px !important;
	}
	div#left_sidebar li, ul.menu li,
	div#right_sidebar li {
		width: auto;
		margin-left: 0;
	border-bottom: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgba(219, 219, 219, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

		
	}
	
	
	/* SEARCH */

	div.search_box {
		display:inline-block;
		width:100%;
	}
	
	.thsearch input.blur, .thsearch input.inputbox_focus {
		/*background: none repeat scroll 0 0 transparent;*/
		float: left;
		font-size: 13px;
		height: 16px;
		line-height: 10px;
		margin: 0;
		padding: 5px 0 5px 14px;
		width: 92%;
	}
	
	.thsearch input.inputbox_focus {
		color: #878787;
	}
	.thsearch input.blur {
		color: #999999;
	}
	/*
	.thsearch input.inputbox_focus {
		background: url("../images/searchbox.png") no-repeat scroll 0 -26px transparent;
	}
	.thsearch input.blur {
		background: url("../images/searchbox.png") no-repeat scroll 0 0 transparent;
	}
	*/
	.thsearch input.search-btn {
		background: url("../images/searchbox.png") no-repeat scroll 50% 55% transparent !important;
		border:none !important;
		cursor: pointer;
		float: left;
		height: 2em;
		margin: 0;
		margin-left:-40px;
		padding: 0;
		width:40px;
		box-shadow: none !important;
		text-shadow:none;
	}
	.thsearch input.search-btn:hover {
		background-position: 60% 55% !important;
		background-color:transparent;
	}



	/* calendar */
	
	td, th {
		padding: 0 8px;
	}
	#calendar_wrap #wp-calendar {
		text-align: center;
		width: 95%;
	}
	#calendar_wrap #wp-calendar caption, #calendar_wrap #wp-calendar td, #calendar_wrap #wp-calendar th {
		text-align: center;
	}
	#calendar_wrap #wp-calendar caption {
		font-size: 11px;
		font-weight: 500;
		padding: 5px 0 3px;
		text-transform: uppercase;
	}
	#calendar_wrap #wp-calendar th {
		border-bottom: 1px solid #CCCCCC;
		border-top: 1px solid #CCCCCC;
		font-weight: bold;
	}
	#calendar_wrap #wp-calendar tfoot td {
		border-bottom: 1px solid #CCCCCC;
		border-top: 1px solid #CCCCCC;
	}
	#calendar_wrap td, #calendar_wrap th {
		padding: 0 !important;
	}
	
	
	/* blockquotes */
	blockquote {
		background: url("../images/quote.png") no-repeat scroll 0 0 transparent	
	}

@media only screen and (max-width: 767px) {
	
	.one_fourth, .one_third, .one_half, .two_third, .three_fourth {
		width:100% !important;
		float:none !important;
		margin-right:0 !important;
	}
	div.simple_footer_top {
		float:right;
	}
}


div.blogposttitle {
	border-bottom: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgba(219, 219, 219, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */	
	position:relative;
}

div.blogpostmetainfo {
	display:none;
	
}

div.blogpostmetaicons {
	position:absolute;
	right:0;
	top:0;
}
div.blogpostmetaicons > a{
	display:block;
	float:left;
	margin-left: 10px;
	cursor:pointer;
}

div.blogpostmetaicons > a.blogpostauthor {
	background:url(../images/blogmeta_author.png) no-repeat center top;
}
div.blogpostmetaicons > a.blogpostdate {
	background:url(../images/blogmeta_date.png) no-repeat center top;
}
div.blogpostmetaicons > a.blogpostcategory {
	background:url(../images/blogmeta_category.png) no-repeat center top;
}
div.blogpostmetaicons > a.blogpostcomments {
	background:url(../images/blogmeta_comments.png) no-repeat center top;
}
div.blogpostmetaicons > a.blogposttags {
	background:url(../images/blogmeta_tags.png) no-repeat center top;
}
div.blogpostmetaicons > a:hover {
	background-position:bottom;
}

div.metahoverdisplay {
	position:absolute;
	right:0;
	padding:0 8% 4%;
	background-image:url(../images/wire_pattern_dark.png);
	min-width:200px;
		border: 1px dotted rgb(219, 219, 219);
    border: 1px dotted rgba(219, 219, 219, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */	
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.40);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.40);
}

	input, select, textarea {
		color: inherit;
	}
	
	/* contact form */
input, select, textarea {
	border: 1px solid rgb(219, 219, 219);
    border: 1px solid rgba(219, 219, 219, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

}

	.inputbutton,
	.inputbox {
		height:2em;
		padding:0 3px;
	}
	
	.inputbutton, 
	input[type="submit"], 
	button {

		border: medium none;
		background-color:#e8e8e8;
		cursor: pointer;
		height: auto;
		overflow: visible;
		padding: 7px 20px;
		width: auto;
		text-transform:uppercase;
		background: url("../images/overlay.png") repeat-x scroll 0 0 #222222;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	}
	
	div.form_row input.inputbox {
		width:98%;
	}
	
	.inputbutton:hover, 
	input[type="submit"]:hover, 
	button:hover {
		background-color:#333;	
	}
	
	.custombuttonwrap a span {
		text-transform:uppercase;
	}

	.custombuttonwrap a:hover,
	.custombuttonwrap a:hover span,
	.inputbutton:hover, 
	input[type="submit"]:hover, 
	button:hover {
		background-image:url(../images/overlay2.png);
	}
	
	.custombuttonwrap a {
		overflow:hidden !important;
	}

div.divider_generic {
	opacity:0.2;
}

.ui-tabs .ui-tabs-panel {
	border-color:#4E5762 !important;	
}
div#header_top, input, select, textarea  {
	background-image:url(../images/wire_pattern.png);
}
div#front_blockB, div#page_title, div#footer_block  {
	background-image:url(../images/wire_pattern_dark.png);
}
a.thumblink {
		display: block;
		position:relative;
	}
	
	a, a > *, input.search-btn {
		-webkit-transition: background-color .2s ease, color .2s ease, opacity .4s ease-in-out, background-position .2s ease;
		   -moz-transition: background-color .2s ease, color .2s ease, opacity .4s ease-in-out, background-position .2s ease;
			-ms-transition: background-color .2s ease, color .2s ease, opacity .4s ease-in-out, background-position .2s ease;
			 -o-transition: background-color .2s ease, color .2s ease, opacity .4s ease-in-out, background-position .2s ease;
				transition: background-color .2s ease, color .2s ease, opacity .4s ease-in-out, background-position .2s ease;
	}

span.thumblinkoverlay{
display:block;
	height:100%;
	width:100%;
	background-color:transparent !important;
	opacity:0;
	overflow: hidden;
    position: absolute;
	top:0;
	left:0;
}



	body.page-template-portfolio-php a.thumblink span.thumblinkoverlay, div.plugin_latestposts_container a.thumblink span.thumblinkoverlay {
		background: url("../images/photothumb.png") no-repeat -50px center scroll #ffffff;
	
	}
	body.page-template-portfolio-php a.thumblink.movie span.thumblinkoverlay, div.plugin_latestposts_container a.thumblink.movie span.thumblinkoverlay {
		background: url("../images/videothumb.png") no-repeat -50px center scroll #ffffff;
	}

	div.blogitemcontainer span.thumblinkoverlay {
		border:1px #dbdbdb solid;
		margin:-1px;
		background-color: transparent !important;
	}

	div.blogitemcontainer span.thumblinkoverlay, body.page-template-portfolio-php a.thumblink img, div.plugin_latestposts_container a.thumblink img{
		-webkit-transition: opacity .5s ease;
		   -moz-transition: opacity .5s ease;
			-ms-transition: opacity .5s ease;
			 -o-transition: opacity .5s ease;
				transition: opacity .5s ease;
	}
	
	div.blogitemcontainer a.thumblink:hover span.thumblinkoverlay {
		opacity:0.4;
		filter: alpha(opacity=40);
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";		
	}
	
	
		body.page-template-portfolio-php a.thumblink:hover span.thumblinkoverlay, div.plugin_latestposts_container a.thumblink:hover span.thumblinkoverlay{
		background-color:#fff !important;
		opacity:0.4;
		filter: alpha(opacity=40);
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		background-position: center center;
	}
	




div.custombuttonwrap a,
 .custombuttonwrap a {
    box-shadow: 0 0 2px #FFFFFF inset !important;
    text-decoration: none !important;

    background-image: none !important;
    border: none !important ;

    color: inherit !important;
    text-shadow: 1px 1px 1px #FFFFFF !important;
	overflow:hidden;
	font-weight:bold;

}


.custombuttonwrap a.round, .custombuttonwrap a.round:hover, .custombuttonwrap a.round span {
	-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;	
}

.inputbutton, 
input[type="submit"], 
button {

		border: medium none;
		background-color:#e8e8e8;
		cursor: pointer;
		height: auto;
		overflow: visible;
		padding: 7px 20px;
		width: auto;
		text-transform:uppercase;
		background: url("../images/overlay.png") repeat-x scroll 0 0 #222222;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
		box-shadow: 0 0 2px #FFFFFF inset !important;
	}
div.custombuttonwrap a.cornered {
	
	border-radius:0 !important;
}

.custombuttonwrap a *,
.custombuttonwrap a * {
	background-color:transparent !important;
    color: inherit !important;	
	text-shadow:none !important;
	border: none !important ;
}

div#footer_bar {
	font-size:0.9em;
}

div.flickr_wrap div.flickr_badge_image {
	float:left;
	margin:0 2% 2% 0;
	width:30%;
}
div.flickr_badge_image img {
	width:auto;
	height:auto;
}

div.twitter_list ul#twitter_update_list li {
    background: url("../images/twitter_icon.png") no-repeat scroll 0 2px transparent;
	padding-left: 25px;
}
.ui-accordion .ui-accordion-content,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background:none !important;
	border: none !important;
}



.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited, .ui-state-hover a:hover, .ui-state-hover a {
	color:#fff !important;
}

.ui-accordion .ui-accordion-header .ui-icon {
	left:0 !important;
}
.ui-accordion-icons .ui-accordion-header a {
	padding-left:1.5em !important;
}

	ul.social_media_icons {
		float:left;
	}

	#header_top ul.social_media_icons {
		float:right;
	}

	ul.social_media_icons > li {
		float:left;
		padding-left:0;
		background-image:none;
	}
	ul.social_media_icons > li > a {
		display:block;
		height:18px;
		width:18px;
		text-indent:-9999px;
		margin:0 6px 0 0;
	}
	ul.social_media_icons > li > a:hover {
		background-position:bottom;
	}
	ul.social_media_icons > li > a.twitter {
		background-image:url(../images/twitter.png);
	}
	ul.social_media_icons > li > a.fb {
		background-image:url(../images/fb.png);	
	}
	ul.social_media_icons > li > a.linkedin {
		background-image:url(../images/linkedin.png);	
	}
	ul.social_media_icons > li > a.dribble {
		background-image:url(../images/dribble.png);	
	}
	ul.social_media_icons > li > a.aim {
		background-image:url(../images/aim.png);
	}
	
	div.simple_footer_top {
		position:relative;
		float:right;
    }
	
#jslider_nav {
    float: right;
    height: 14px;
    margin: 0 auto;
    padding: 5px 5px 0 0;
    position: absolute;
	bottom:10px;
	right:10px;
    z-index: 999;
	
}	

#jslider_nav a {
	background: url("../images/slider-bullet.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: block;
    float: left;
    height: 14px;
    margin-right: 5px;
    outline: 0 none;
    text-indent: -9999px;
    width: 14px;

}

#jslider_nav a.activeSlide {
    background-position: -15px 0;
}

div#inset { position:relative; z-index:9999;}

/* tag cloud */
div.tagcloud a {
	font-size:0.9em !important;
	display:inline-block;
	margin: 0 3px;
	padding: 0 6px;
    box-shadow: 0 0 2px #FFFFFF inset;
    text-decoration: none !important;
    background-image:url(../images/overlay.png);
	background-position:left -20px;
     box-shadow: 0 0 2px #FFFFFF inset !important;

}

div.tagcloud a:hover {
    background-image:url(../images/overlay2.png);
}

span.image_frame {
	display:block;
	width:100%;
	height:100%;
	margin:0 -2%;
}
div.latestpostitem .item_description {
	text-align:center;
}

div.latestpostitem div.item_thumbnail, span.image_frame {
	padding:2%;
	background-image:url(../images/wire_pattern.png);	

	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.40);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.40);

}
div.latestpostitem div.item_thumbnail {
-webkit-transition: box-shadow .4s ease, -moz-box-shadow .4s ease, -webkit-box-shadow .4s ease;
		   -moz-transition: box-shadow .4s ease, -moz-box-shadow .4s ease, -webkit-box-shadow .4s ease;
			-ms-transition: box-shadow .4s ease, -moz-box-shadow .4s ease, -webkit-box-shadow .4s ease;
			 -o-transition: box-shadow .4s ease, -moz-box-shadow .4s ease, -webkit-box-shadow .4s ease;
				transition: box-shadow .4s ease, -moz-box-shadow .4s ease, -webkit-box-shadow .4s ease;
}
div.latestpostitem div.item_thumbnail:hover {
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.80);
    -moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.80);
    -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.80);
}

div.latestpostitem div.item_thumbnail {
	margin:2%;
}

div.latestpostitem .item_title {
	text-align:center;
}

#right_sidebar div.latestpostitem a.thumblink, #left_sidebar div.latestpostitem a.thumblink {
	padding:0;
	background-image:none;	

	box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;	
}


ul.sf-menu a.nocursor {
    cursor: default;
}


/* = Comments
-------------------------------------------------------------- */

ol.commentlist {
	margin: 0;
	padding: 0;
}
.commentlist li {
	list-style: none;
	margin-left: 15px;
	padding-top: 20px;
}
.commentlist .children li {
	border-left: 1px dotted rgb(219, 219, 219);
    border-left: 1px dotted rgba(219, 219, 219, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */	
	
	padding-top: 30px;
}
.comment {
	padding: 10px;
}
.commentlist ul.children {
	margin-bottom: 0;
}
.commentlist .commentdabba {
	display: block;
	font-style: normal;
	padding: 7px 7px 25px;
}
.commentlist .commentdabba img {
	border: 1px solid #AAB59A;
	float: left;
	margin-right: 9px;
	padding: 1px;
}
.avatarcontainer {
	display: block;
	float: left;
	width: 70px;
	margin-top:18px;
}

.commentlist .time {
	background: url(../images/clock.png) no-repeat 1px;
	padding-left: 25px;
}
.depth-2,
.depth-3,
.depth-4,
.depth-5,
.depth-6,
.depth-7,
.depth-8,
.depth-9,
.depth-10 {
	padding-bottom: 0px;
	padding-right: 0px;
}
#respond {
	clear: both;
	width: 100%;
}
#comment,
#commentform fieldset textarea {
	width: 97%;
}
#commentform p,
fieldset p {
	clear: both;
}
#commentform input {
	cursor: pointer;
}
li.even > div > .commentbox,
li.thread-even > div> .commentbox {
	height: auto;
	padding: 10px;
	width: auto;
	background-image:url(../images/wire_pattern.png);	
	border: 1px solid rgb(219, 219, 219);
    border: 1px solid rgba(219, 219, 219, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
li.odd > div > .commentbox,
li.thread-odd > div > .commentbox {
	height: auto;
	padding: 10px;
	width: auto;
	background-image:url(../images/wire_pattern_dark.png);	
	border: 1px solid rgb(219, 219, 219);
    border: 1px solid rgba(219, 219, 219, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */	
}

div, iframe, img {min-height:0;}

/* = Captions
-------------------------------------------------------------- */

p.wp-caption-text,
.gallery-caption {
	font-size: 0.9em;
}
.wp-caption.alignright,
.wp-caption.alignleft {
	float:none !important;
}
.wp-caption.alignright p.wp-caption-text {
	text-align: right;
}
.wp-caption.aligncenter p.wp-caption-text {
	text-align: center;
}

/* = Misc
-------------------------------------------------------------- */

.sticky {
}
.bypostauthor p.authorname {
	font-weight:bold;
}

h1, h2, h3, h4, h5, h6 {
	text-shadow: 1px 1px 1px #131313;
}

#left_sidebar div.widget_title > h3, #right_sidebar div.widget_title > h3 {
	background-image:url(../images/wire_pattern_dark.png);
	padding:4%;
}
#left_sidebar div.widget_title, #right_sidebar div.widget_title {
	margin:-4% 0;	
}

dt.gallery-icon > a {
	display:inline-block;

	height:auto;
	padding:2%;
	margin:-2%;
	background-image:url(../images/wire_pattern_dark.png);
}
dt.gallery-icon > a > img {
	border:none !important;
	}
	
/* = Wpml
-------------------------------------------------------------- */
#footer_language_list{
	margin-bottom: 25px;
	text-align: center;
	background-color:#1F2B39;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	padding-top:10px;
	padding-bottom:10px;
}

#footer_language_list ul{
	list-style: none;
	margin:0;
	padding:0;
}

#footer_language_list ul li img{
	margin-right:5px;
}

#footer_language_list ul li{
	display:inline;
	margin:0 5px 0 5px;
	padding:0;
}

#footer_language_list ul li a, #footer_language_list ul li a:visited{
	color: #fff;
}

#footer_language_list ul li a:hover, #footer_language_list ul li a:active{
	color: #fff;
}


/* = Wp-members
-------------------------------------------------------------- */
/* wp-member login */
#wpmem_login{
	width:45%;
	float:right;
	color: #D7D9D0;
	border: 1px solid #E5E5E5;
        box-shadow: 0 2px 6px -1px rgba(200, 200, 200, 0.698);
        border-radius: 3px 3px 3px 3px;
        -moz-box-sizing: border-box;
}

#wpmem_login legend{
	font-family: Cuprum;
    	font-style: normal;
    	font-weight: 400;
	font-size: 2.24em !important;
	text-shadow: 1px 1px 1px #131313;
	margin-bottom:20px;
	padding-left:5%;
	padding-top:5%;
}

#wpmem_login label{
	font-size: 14px;
	width:90%;
	margin-left:5%;
}

#wpmem_login div.div_text {
	width:90%;
	margin-left:5%;
}

#wp_members_newuser{
	margin-top:10px;
	width:90%;
        margin-left:5%;
}

#wpmem_login div.div_text input{
	border: 1px solid #444;
    	box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
    	color: #1F2B39;
    	font-size: 24px;
    	font-weight: bold;
    	line-height: 1;
    	margin-bottom: 16px;
    	margin-top: 2px;
    	outline: 0 none;
    	padding: 3px;
    	width: 97%;
	border-radius: 3px 3px 3px 3px;
	-moz-box-sizing: border-box;
	background: none repeat scroll 0 0 #FBFBFB;
}
#wpmem_login div.div_text input:focus{
	border-color: #BBB;
}

#wpmem_login .buttons {
	display:block;
}

/* wp-member register */

small{
	display:none;
}

#wpmem_reg{
	width:45%;
	float:left;
	border: 1px solid #E5E5E5;
        box-shadow: 0 2px 6px -1px rgba(200, 200, 200, 0.698);
	border-radius: 3px 3px 3px 3px;
	-moz-box-sizing: border-box;
}


#wpmem_reg legend{
	font-family: Cuprum;
	font-style: normal;
	font-weight: 400;
	font-size: 2.24em !important;
	text-shadow: 1px 1px 1px #131313;
	padding: 5%;
}

#wpmem_reg label{
        font-size: 14px;
        width:90%;
	margin-left:5%;
}

#wpmem_reg div.div_text {
        width:90%;
	margin-left:5%;
}
#wpmem_reg #uniform-hear_about_us{
	height:35px;	
	width:90%;
	background-image:none !important;
	background-color:#FBFBFB;
}

#wpmem_reg #uniform-hear_about_us span{
	font-size: 24px;
	font-weight: bold;
	padding-top:4px;
	padding-left:4px;
	background-image:none !important;
}

#wpmem_reg #uniform-hear_about_us select{
	background-color:#FBFBFB;
	color: #1F2B39;
}

#wpmem_reg #uniform-hear_about_us option{
        font-size: 24px;
        font-weight: bold;
	background-image:none !important;
}

#wpmem_reg div.div_select {
        width:97%;
	margin-left:5%;
}

#wpmem_reg div.div_text input{
        border: 1px solid #444;
        box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
        color: #1F2B39;
        font-size: 24px;
        font-weight: bold;
        line-height: 1;
        margin-bottom: 16px;
        margin-top: 2px;
        outline: 0 none;
        padding: 3px;
        width: 97%;
        border-radius: 3px 3px 3px 3px;
        -moz-box-sizing: border-box;
        background: none repeat scroll 0 0 #FBFBFB;
}
#wpmem_reg div.div_text input:focus{
        border-color: #BBB;
}

#wpmem_reg .buttons {
        display:block;
}

.div_select{
	margin-bottom: 16px;
}
/* Error Form */
.error{
	width:50%;
	float:right;
	margin-bottom: 20px !important;
}

/* ok perfetc Form*/
.success{
        width:50%;
        float:left;
	margin-bottom: 20px !important;
}

.button_div{
	margin-left:5%;
}

.req{
	color:#B94A48;
	font-weight:bold;
	font-size:18px;
}

#required_field_text{
	width:70%;
	margin-left:5%;
	margin-top:10px;
	margin-bottom:20px;
}
/* Members Area */
.vpn_header_message{
        background-color: #FCF8E3;
        border: 1px solid #FBEED5;
        border-radius: 4px 4px 4px 4px;
        color: #C09853;
        margin-bottom: 8px;
        margin-top: 8px;
        padding: 8px 35px 8px 14px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        width:94%;
	font-weight:bold;
}

#panel_userdata_container p{
	display:none;
}

#panel_userdata_container{
	width:auto;
        float:left;
        border: 1px solid #E5E5E5;
        box-shadow: 0 2px 6px -1px rgba(200, 200, 200, 0.698);
        border-radius: 3px 3px 3px 3px;
        -moz-box-sizing: border-box;
        padding: 26px 24px 46px;
	margin-bottom:20px;
}

#panel_userdata_container div.user_label{
	float:left;
	width:25%;
	font-size: 20px;
        font-weight: bold;
}

#panel_userdata_container div.user_data{
        float:left;
        width:75%;
	font-size: 20px;
        font-weight: normal;
	color: #F3DCB8;
}

#panel_userdata_container li{
	line-height: 1.5;
	padding-left: 25px !important;
	list-style: none outside none;
    	margin-left: 0;
	background: url("../images/icon_star.png") no-repeat scroll 0 1px transparent;
}

#panel_userdata_container ul{
	margin-bottom:8px;
}

#logo_user{
	width:26px;
	height:26px;
	float:left;
	background: url("../images/icon_user.png") no-repeat scroll 0 1px transparent;
	margin-top:11px;
	margin-right:4px;
}

#panel_vpndata_container{
	width:auto;
        float:left;
        border: 1px solid #E5E5E5;
        box-shadow: 0 2px 6px -1px rgba(200, 200, 200, 0.698);
        border-radius: 3px 3px 3px 3px;
        -moz-box-sizing: border-box;
	margin-bottom:20px;
        padding: 26px 24px 46px;
}

#panel_vpndata_container h3{
	color: #F3DCB8;
}

#logo_certificate{
        width:26px;
        height:26px;
        float:left;
        background: url("../images/icon_certificates.png") no-repeat scroll 0 1px transparent;
        margin-top:11px;
        margin-right:4px;
}

#zodiacvpn_payment_container{
	width:auto;
        float:left;
        border: 1px solid #E5E5E5;
        box-shadow: 0 2px 6px -1px rgba(200, 200, 200, 0.698);
        border-radius: 3px 3px 3px 3px;
        -moz-box-sizing: border-box;
        padding: 26px 24px 46px;
}

#logo_credits{
        width:26px;
        height:26px;
        float:left;
        background: url("../images/icon_credits.png") no-repeat scroll 0 1px transparent;
        margin-top:11px;
        margin-right:4px;
}

#zodiacvpn_payment_container table{
	width:100%;
	text-align:center;
}

#zodiacvpn_payment_container h2{
        width:870px;
}

#zodiacvpn_payment_container table thead th{
	font-weight:bold;
}

#zodiacvpn_payment_container table tfoot td{
        font-weight:bold;
}

#zodiacvpn_payment_container table tbody tr{
	height:26px;
	padding-top:4px;
	vertical-align:center;
}

#zodiacvpn_payment_container tr, #zodiacvpn_payment_container td{
	padding:6px 0px !important;
}

#zodiacvpn_payment_container table tfoot tr, #zodiacvpn_payment_container table tbody tr{
        border-top:1px solid #bbb;
}

/* VPN certificate Row */
.vpn_certificate_row{
	border-bottom:1px dotted #fff;
	margin-bottom:20px;
}
.vpn_certificate_name{
	font-size:18px;
}
.vpn_certificate_date_relase{
	font-weight:bold;
	margin-left:20px;
}
.vpn_certificate_date_remaining{
	margin-left:20px;
	background-color: #FCF8E3;
    	border: 1px solid #FBEED5;
    	border-radius: 4px 4px 4px 4px;
    	color: #C09853;
    	margin-bottom: 8px;
    	margin-top: 8px;
    	padding: 8px 35px 8px 14px;
    	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	width:60%;	
}

.vpn_certificate_PayPal{
	margin-left:20px;
}
.vpn_certificate_PayPal select{
	display:block;
	margin-left:40px;
	margin-bottom:4px;
}
.vpn_certificate_PayPal input{
        display:block;
        margin-left:40px;
	margin-bottom:20px;
	
}

.vpn_download_row{
	margin-left:20px;
}
.vpn_download_description{
	font-size: 18px;
	color: #F3DCB8;
}
.vpn_download_howto{
        font-size: 10px;
        color: #F3DCB8;
	clear:both;
	margin-bottom:10px;
}

.vpn_download_howto a{
	font-weight:bold !important;
	text-decoration: underline !important; 
	
}

.vpn_download_logos{
	clear:both;
}
.vpn_so_logo{
        float:left;
	margin-right:10px;
        height:48px;
        width:48px;
}

.windows {
	background-image:url(../images/windows_logo.png);	
}

.apple {
        background-image:url(../images/apple_logo.png);     
}

.linux {
        background-image:url(../images/linux_logo.png);
}

.iphone {
        background-image:url(../images/iphone_logo.png);     
}

.android {
        background-image:url(../images/android_logo.png); 
}

.others {
        background-image:url(../images/others_logo.png);
}

.green_vpn{
	background-color: #DFF0D8;
	border-color: #D6E9C6;
	color: #468847;
}

.yellow_vpn{
	background-color: #ffdab4;
        border-color: #8a5218;
        color: #ff8100;
}

.red_vpn{
	background-color: #F2DEDE;
	border-color: #EED3D7;
	color: #B94A48;
}

#panel_vpn_message{
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	border-radius: 4px 4px 4px 4px;
	color: #C09853;
	margin-bottom: 18px;
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #D9EDF7;
    	border-color: #BCE8F1;
    	color: #3A87AD;
}

#vpn_button{
	font-family: Oswald;
	clear:both;
	display:block;
	font-size:20px;
	font-weight: bold;
	text-transform: uppercase;
	color:#F3DCB8;
}

#vpn_button a{
	text-decoration: underline !important;	
}

.noinput{
	font-size: 24px;
	color:#fff;
	font-weight: bold;
	line-height: 1;
	margin-top:4px;
	margin-bottom:4px;
}

.wpmem_password{
	float:left !important;
}

.user_logout a{
	color:#B94A48;
	font-weight: bold;
}
/* end vpn row */

/* Contact Us Page */
#simple_contact_form label{
	font-size: 14px;
	width: 90%;
}

#contact_email{
	background: none repeat scroll 0 0 #FBFBFB;
	color: #1F2B39;
	font-size: 24px;
	font-weight: bold;
	line-height: 1;	
	height: 30px;
}

#contact_message{
	background: none repeat scroll 0 0 #FBFBFB;
        color: #1F2B39;
        font-size: 24px;
        font-weight: bold;
        line-height: 1;
        height: 200px;
	width: 73% !important;
	border-color: #AAAAAA #CCCCCC #CCCCCC #AAAAAA;
    	border-radius: 3px 3px 3px 3px;
    	border-style: solid;
    	border-width: 1px;

}

div.form_row.textarea{
	height: 230px!important;
}

label.formerror{
	display:block !important;
	color:#B94A48;
	font-size: 10px !important;
}
/* end Contact us*/
