/*
Theme Name: Current
Theme URI: http://www.themeshigh.com
Description: Current is a Premium WordPress Theme. It is Responsive. It includes flexible front page layout. Multiple category, sortable portfolios. Multiple category sortable blogs and a provision to have unlimited sidebars and custom css classes can be specified for the widgets.
Author: Themeshigh.com
Author URI: http://themeshigh.com
Version: 1.0.2
License: Located in 'licensing' folder
License URI: Located in 'licensing' folder
Tags: business, columns, corporate, premium theme, sidebars, widgets, responsive

*/

/*

    The styling information for the theme can be found inside the "css" subdirectory

*/

.curvydottedborder {
	border: 1px dotted rgb(219, 219, 219);
    border: 1px dotted rgba(219, 219, 219, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */	
	padding:0 2%;
	margin:0 -2%;

	-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;	
}

.curvydottedborder div.widget_title h3 {
	background-image:none !important;
	padding:0 4% !important;
}

.curvydottedborder ul li:last-child {
	border-bottom:none !important;
}

.boxdottedborder {
	border: 1px dotted rgb(219, 219, 219);
    border: 1px dotted rgba(219, 219, 219, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */	
	padding:0 2%;
	margin:0 -2%;
	background-color: rgba(219, 255, 219, .1);
}

.boxdottedborder div.widget_title h3 {
	background-image:none !important;
	padding:0 4% !important;
}

.boxdottedborder ul li:last-child {
	border-bottom:none !important;
}